<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>test</title>
    <style type="text/css">
      td.dpicker-inactive {
        color: grey;
      }

      button.dpicker-active {
        background: coral;
      }

      .dpicker-invisible {
        display: none;
      }
      .dpicker-visible {
        display: block;
      }

      .container {
        margin: 10 auto;
        width: 100%;
      }

      .container > * {
        display: inline-block;
      }
    </style>
  </head>
<body>

  <h2>VanillaJS</h2>
  <div class="container">
    <label for="dp-test-label-0">Min + Max
      <input id="dp-test-label-0" type="date" min="24/06/1991" max="20/08/2000" value="10/10/1999" format="DD/MM/YYYY" />
    </label>
    <label for="dp-test-label-1">Label
      <input id="dp-test-label-1" type="date" />
    </label>
  </div>
  <h2>Angular</h2>
  <div class="container">
    <angular-datepicker></angular-datepicker/>
    <angular-datepicker></angular-datepicker/>
  </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maquette/2.1.6/maquette.min.js"></script>
    <script src="../dist/dpicker.js"></script>
    <script src="../dist/dpicker.arrow-navigation.js"></script>
    <script src="../dist/dpicker.modifiers.js"></script>
  <script>
    ;[].slice.call(document.querySelectorAll('[vanilla-datepicker]')).forEach((e, i) => new DPicker(e))

    angular.module('myModule', [])

    angular.module('myModule')
    .directive('angularDatepicker', function() {
      return {
        restrict: 'E',
        template: '<button ng-click="toggle($event)">Toggle</button><button ng-click="tomorrow($event)">Tomorrow</button><button ng-click="today($event)">Today</button>',
        scope: true,
        link: function(scope, element, attrs) {
          let dpicker = new DPicker(element[0])

          scope.toggle = function(evt) {
            dpicker.display = !dpicker.display
          }

          scope.tomorrow = function(evt) {
            dpicker.model = moment().add(1, 'days')
          }

          scope.today = function(evt) {
            dpicker.model = moment()
          }
        }
      }
    })

    angular.element(document).ready(function() {
      angular.bootstrap(document, ['myModule'])
    })
  </script>
</body>
</html>
