%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width"}
    %title DPicker styles
    %style
      h1, h2, h3, h4, h5, h6 {
        font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        font-weight: 400;
        font-style: normal;
        color: inherit;
        text-rendering: optimizeLegibility;
        margin-top: 0;
        margin-bottom: .5rem;
        line-height: 1.4;
      }

      \.style {
        width: 80%;
        margin: 10px auto;
        border: 1px solid lightgray;
        padding: 20px;
      }
    - for(let i in styles)
      %style{type: 'text/css'}= styles[i].css
  %body
    %h1 DPicker styles
    - for(let i in styles)
      %div.style
        %h2= i
        %div{id: i}
          %dpicker
        %pre<
          != styles[i].code

    %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"}
    %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/maquette/2.1.6/maquette.min.js"}
    %script{type: 'text/javascript', src: "../dist/dpicker.js"}
    %script
      ;[].slice.call(document.getElementsByTagName('dpicker')).forEach((e, i) => new DPicker(e))

